*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:center ;
    margin-top: 10px;
    width: 100%;
    height: auto;
    }
.profile-pic{
    width: 175px; 
    border-radius: 50%;
    height: 150px;
    margin: 0 auto;
    /* display: block; */
}
.box-2{
    margin-top: 10px;
}
.profile-name {
    font-size: 36px;
    font-weight: bold;
    margin-top: 20px;
    color: #333;
}
.profile-title {
    font-size: 24px;
    font-weight: 500;
    color: #555;
    margin-bottom: 20px;
}
.profile-description {
    font-size: 16px;
    color: #777;
}
/* .tech{
    text-align: center;
    padding: 50px 0;
    background-color: #e3f2fd
}

.tech h2 {
    font-size: 30px;
    margin-bottom: 40px;
    color: #333;
}

.skills-icons i {
    font-size: 48px;
    margin: 20px;
    color: #555;
}

.skills-icons p {
    font-size: 14px;
    margin-top: 10px;
    color: #555;
} */
  .tech{
    text-align: center;
    padding: 25px 0;
    padding-bottom: 50px;
    /* background-color: #e3f2fd; */
    
}
.tech-img{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 100px;
}
.tech-img img{
    height: 125px;
    border-radius: 10px;
    margin-top: 15px;
}
.tech-img span{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 15px;
}

.tech-img span:hover{
    background-color: #e3f2fd ;
}
.work h2{
    text-align: center;
}
.work-title{
    font-weight:400;
    font-size: large;
    text-decoration: underline;
    
}
.work-duration{
    font-size: medium;
    padding: 10px;
    display: flex;
    gap: 10px;
}
.desc-work{
margin-left: 10px;
}
.desc-work li{
    padding: 5px;
}
.card-title{
    text-decoration: underline;
}
.aboutme{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.footer li {
    list-style-type: none;

}
.footer{
text-decoration: underline;
}



.up-arrow{
    display: flex;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
  }
